@import url("https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h1,h2,h3,h4 {
    font-family: "Momo Trust Display", sans-serif;
}

